#header {
	position:fixed;
	height:100px;
	width:100%;
	background-color:#8000FF;
	top:0;
}
#footer {
	position:fixed;
	height:20px;
	width:100%;
	background-color:#AAAAAA;
	bottom:0;
}
#main {
	margin-top:100px;
	margin-bottom:20px;
}